---
swagger: "2.0"
info:
  description: "The SubTracker API allows users and partners to manage users, subscriptions and services."
  version: "1.0.0"
  title: "SubTracker API"
  termsOfService: "http://subtracker.ml/terms/"
  contact:
    email: "subtracker@subtracker.ml"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "subtracker.ml"
basePath: "/api"
tags:
- name: "Subscriptions"
  description: "SubTracker Subscriptions"
  externalDocs:
    description: "Find out more"
    url: "http://subtracker.ml"
- name: "Services"
  description: "Services we support"
- name: "Customers"
  description: "Information about customers"
schemes:
- "https"
paths:
  /subscriptions/create?customer_email={customer_email}&service_name={service_name}&subscription_cost={subscription_cost}&subscription_renewal={subscription_renewal}:
    post:
      tags:
      - "Subscriptions"
      summary: "Creates a new subscription"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "customer_email"
        in: "formData"
        description: "Customer email"
        required: true
        type: "string"
      - name: "service_name"
        in: "formData"
        description: "Service Name"
        required: true
        type: "string"
      - name: "subscription_cost"
        in: "formData"
        description: "Subscription Cost"
        required: true
        type: "string"
      - name: "subscription_renewal"
        in: "formData"
        description: "Renewal date"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"

  /subscriptions/delete?customer_email={customer_email}&subscription_id={subscription_id}:
    post:
      tags:
      - "Subscriptions"
      summary: "Creates a new subscription"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "customer_email"
        in: "formData"
        description: "Customer email"
        required: true
        type: "string"
      - name: "subscription_id"
        in: "formData"
        description: "Service Name"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"

  /customers/search?customer_email={customer_email}&customer_id={customer_id}:
    get:
      tags:
      - "Customers"
      summary: "Search for customers"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "customer_email"
        in: "formData"
        description: "Customer email"
        required: true
        type: "string"
      - name: "customer_id"
        in: "formData"
        description: "Service Name"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"

  /customers/getsubscriptions?customer_email={customer_email}:
    get:
      tags:
      - "Customers"
      summary: "Search for customers"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "customer_email"
        in: "formData"
        description: "Customer email"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"

  /customers/create?customer_email={customer_email}:
    post:
      tags:
      - "Customers"
      summary: "Search for customers"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "customer_email"
        in: "formData"
        description: "Customer email"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"

  /services/search?service_name={service_name}&service_id={service_id}:
    post:
      tags:
      - "Services"
      summary: "Search for customers"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "service_name"
        in: "formData"
        description: "Service Name"
        required: true
        type: "string"
      - name: "service_id"
        in: "formData"
        description: "Service ID"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"

securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "https://api.subtracker.ml/oauth/authorize"
    flow: "implicit"
    scopes:
      read:users: "read users"
      write:subscriptions: "create subscriptions"
definitions:
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
  Category:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Category"
  Tag:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Tag"
externalDocs:
  description: "Find out more about Subtracker"
  url: "http://subtracker.ml"
